<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrede003.zoomwireless.zoomapp">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/zoom_icon"
        android:label="Zoom Wireless"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Promos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PromoDisplay"
            android:screenOrientation="portrait" />
        <activity android:name=".Appointment" />
        <activity android:name=".Locations" />
        <activity android:name=".StoreView" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/zoomRed" />

    </application>

</manifest>